#exclude all class files from git in any subdirectory. If you intend to 
#only ignore the class files in the same directory, use /*.class instead
*.class
.settings
.project
.classpath
BoutiqueEnLigne/jsf-webflow-persistence/target/*
BoutiqueEnLigne/jsf-webflow-service/target/*
BoutiqueEnLigne/jsf-webflow-web/target/*
Database/target/*
WebService/target/*
kill_cassandra.sh
run_cassandra.sh
run_cassandra_script.sh
mvn_clean.sh
mvn_boutique_install.sh
